.nav{
    color:rgba(255, 255, 255, 0.55);
    text-decoration: none;
    margin-left: 20px;
}

.nav:hover{
    color: white;
}


.callToAction{
    /* display: block; */
    /* margin-top: 20px; */
    padding: 10px;
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    font-size: 21px;;
    border-radius: 0.3rem;
}
.callToAction:hover{
    background-color: #0b5fd6;
    color: white;
    transition: all .0.3s;
}

.item-header{
    background:#1472fd;
}